.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.item {
  position: relative;
}

.item + .item::after {
  content: "";
  position: absolute;
  left: 69px;
  right: 20px;
  top: 0;
  height: 1px;
  background: var(--line);
}
